/* inizio header */
header{
    background-color: white;
}
.logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;   
}
/* inizio bottoni e container */
.container{
    background-color: #F6F8F9;
    padding: 30px 200px 10px;
}
.bottoni{
    background-color: white;
    border-bottom: 2px solid #F6F8F9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.bottone-blu{
    background-color:#47ADF1 ;
    color: white;
    border-color:#47ADF1 ;
    border-radius: 10px;
    
}
.bottone-bianco{
    color: #C8CED3;
    border-radius: 10px;
    border-color: #C8CED3;

}
/* inizio sezioni */
section{
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
}
h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
ul{
margin: 0px;
list-style-type: none;
padding: 0px;
}
li{
    padding-bottom: 20px;
}
/* inizio decorazione */
.true::before{
    content: "\2713";
    border: 2px solid green;
    border-radius: 50%;
    color: green;
}
.false::before{
    content: "\292B";
    border: 2px solid red;
    border-radius: 50%;
    color: red;
}
.blu::after{
    content: "Editorial";
    background-color:#45ABEA ;
    color: white;
    border-radius: 10px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
}
.viola::after{
    content: "Q1 Goals";
    background-color:#9C72E4 ;
    color: white;
    border-radius: 10px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
}
.verdino::after{
    content: "recruiting";
    background-color: #65C1AA ;
    color: white;
    border-radius: 10px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
}
.arancio::after{
    content: "Mobile";
    background-color:#F29E33 ;
    color: white;
    border-radius: 10px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
}
.rosa::after{
    content: "website";
    background-color:#D863A1 ;
    color: white;
    border-radius: 10px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
}
.verde::after{
    content: "Sales";
    background-color:#B0C926 ;
    color: white;
    border-radius: 10px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
}
